<!DOCTYPE html>
<html>
<!-- http://odyniec.net/articles/turning-lists-into-trees/ -->

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Live Updating Tree View</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Angular Material requires Angular.js Libraries -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="styles.css" />


</head>

<body ng-app="TreeViewApp" ng-controller="MainController" style="margin: 1%">

    <div layout-align="center">
        <md-button class="md-raised" ng-click="showDialog()"> Open Dialog </md-button>

        <div ng-if="newFactoryData" id="newFactoryData">
            <b layout="row" layout-align="center center" class="md-padding">
                {{newFactoryData}}
            </b>
        </div>

    </div>

    <div id="tree">
        <md-button class="md-raised">{{tree.name}}</md-button>
        <div class="factory" ng-repeat="factory in tree.factories" style="color:blue" ng-click="updateDialog($index, factory)">
            {{factory.name}}
            <md-button class="md-raised" ng-click="deleteFactory($index, $event)"> Delete Factory </md-button>
            <div class="factory_child" ng-repeat="child in factory.children"  ng-click="$event.stopPropagation()" style="color:red">{{child}}</div>
        </div>
    </div>



    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>
    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>

    <!-- Your application bootstrap  -->
    <script src="factory.js"></script>
    <script src="newFactoryController.js"></script>
    <script src="updateFactoryController.js"></script>
    <script src="app.js"></script>
</body>

</html>